random_group_stuff/Group_server/xml/sw6_schema.xsd

<?xml version="1.0"?>
 
<!-- Xml schema for sw6xml: version 0.2 -->
<!-- Created by sw603f12 for the android multiproject -->

<!-- Purpose of this xml language is to facilitate data transfer
     between the admin and the server group databases -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:simpleType name="crud">
  <xs:restriction base="xs:string">
    <xs:enumeration value="create"/>
    <xs:enumeration value="read"/>
    <xs:enumeration value="update"/>
    <xs:enumeration value="delete"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="ttype">
  <xs:restriction base="xs:string">
    <xs:enumeration value="string"/>
    <xs:enumeration value="int"/>
  </xs:restriction>
</xs:simpleType>

<xs:element name="sw6ml">
  <xs:complexType>
    <xs:sequence>
      
    <xs:element name="AuthUsers">
      <xs:complexType>
       <xs:sequence>
        <xs:element name="entry" maxOccurs="unbounded">
         <xs:complexType>
          <xs:sequence>
            <xs:element name="certificate" type="xs:string">
			<xs:attribute name="type" type="ttype" use="required"/>
			</xs:element>
            <xs:element name="idUser" type="xs:integer">
			<xs:attribute name="type" type="ttype" use="required"/>
			</xs:element>
			<xs:element name="aRole" type="xs:integer">
			<xs:attribute name="type" type="ttype" use="required"/>
			</xs:element>
			<xs:element name="username" type="xs:string">
			<xs:attribute name="type" type="ttype" use="required"/>
			</xs:element>
			<xs:element name="password" type="xs:string">
			<xs:attribute name="type" type="ttype" use="required"/>
			</xs:element>
          </xs:sequence>
          <xs:attribute name="action" type="crud" use="required"/>
         </xs:complexType>
        </xs:element>
       </xs:sequence>
      </xs:complexType>
    </xs:element>
    
    <xs:element name="Profile">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="idProfile" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="Firstname" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="Surname" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="Middlename" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="pRole" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="Phone" type="xs:long">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="Picture" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="Settings" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
				  <xs:element name="username" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
				  <xs:element name="password" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                </xs:sequence>
                <xs:attribute name="action" type="crud" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    
    <xs:element name="Department">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" maxOccurs="unbounded">
              <xs:complexType> 
                <xs:sequence>
                  <xs:element name="idDepartment" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="name" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="address" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="phone" type="xs:long">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="email" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                </xs:sequence>
                <xs:attribute name="action" type="crud" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    
      <xs:element name="HasDepartment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entry" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="idProfile" type="xs:integer">
					<xs:attribute name="type" type="ttype" use="required"/>
					</xs:element>
                    <xs:element name="idDepartment" type="xs:integer">
					<xs:attribute name="type" type="ttype" use="required"/>
					</xs:element>
                  </xs:sequence>
                  <xs:attribute name="action" type="crud" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence> 
          </xs:complexType>
        </xs:element>

        <xs:element name="HasSubDepartment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entry" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="idDepartment" type="xs:integer">
					<xs:attribute name="type" type="ttype" use="required"/>
					</xs:element>
                    <xs:element name="idSubDepartment" type="xs:integer">
					<xs:attribute name="type" type="ttype" use="required"/>
					</xs:element>
                  </xs:sequence>
                  <xs:attribute name="action" type="crud" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence> 
          </xs:complexType>
        </xs:element>
    
    <xs:element name="Apps">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="idApp" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="name" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="version" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                </xs:sequence>
                <xs:attribute name="action" type="crud" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence> 
        </xs:complexType>
      </xs:element>
    
    <xs:element name="ListOfApps">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="idApps" type="xs:integer">
					<xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="idProfile" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="settings" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="stats" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                </xs:sequence>
                <xs:attribute name="action" type="crud" use="required"/>
              </xs:complexType>
            </xs:element>  
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    
      <xs:element name="Media">
        <xs:complexType>
          <xs:sequence> 
            <xs:element name="entry" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="idMedia" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="mPath" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="Name" type="xs:string">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="mPublic" type="xs:boolean">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="mType" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="OwnerID" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                </xs:sequence>
                <xs:attribute name="action" type="crud" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

       <xs:element name="Tags">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="idTag" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="caption" type="xs:String">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                </xs:sequence>
                <xs:attribute name="action" type="crud" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence> 
        </xs:complexType>
      </xs:element>

      <xs:element name="HasTag">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="idMedia" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="idTag" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                </xs:sequence>
                <xs:attribute name="action" type="crud" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence> 
        </xs:complexType>
      </xs:element>

      <xs:element name="HasLink">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="idMedia" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="idSubMedia" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                </xs:sequence>
                <xs:attribute name="action" type="crud" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence> 
        </xs:complexType>
      </xs:element>
    
    <xs:element name="MediaDepartmentAccess">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="idDepartment" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="idMedia" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                </xs:sequence>
                <xs:attribute name="action" type="crud" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence> 
        </xs:complexType>
      </xs:element>
    
    <xs:element name="MediaProfileAccess">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="idProfile" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="idMedia" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                </xs:sequence>
                <xs:attribute name="action" type="crud" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence> 
        </xs:complexType>
      </xs:element>
    
    <xs:element name="HasGuardian">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="idGuardian" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                  <xs:element name="idChild" type="xs:integer">
				  <xs:attribute name="type" type="ttype" use="required"/>
				  </xs:element>
                </xs:sequence>
                <xs:attribute name="action" type="crud" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence> 
        </xs:complexType>
      </xs:element>
    </xs:sequence>
	
  </xs:complexType>
</xs:element>

</xs:schema>